.card {
  width: calc(20% - 16px);
  height: 210px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  background-color: cornflowerblue;
  border-radius: 20px 20px 0 0;
}

.header h4 {
  margin: 10px;
  color: white;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 0 14px;
  position: relative;
  height: 100%;
}

.main2 p {
  margin: 5px 0;
}

.main2 button {
  all: unset;
  cursor: pointer;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 14px;
}

.main2 button:hover {
  background-color: white;
  color: cornflowerblue;
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}

.erro {
  color: red;
}
