@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
  font-family: "Poppins", sans-serif;
}

.App main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}
